<head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
</head>

<body>
<center>
    <h1>{{ req_title }}</h1>
    <canvas id="req" width="600" height="400"></canvas>

    <h1>{{ replica_title }}</h1>
    <canvas id="replica" width="600" height="400"></canvas>

    <h1>{{ avg_title }}</h1>
    <canvas id="avg" width="600" height="400"></canvas>

    <script>
    var barData = {
        labels : [
        {% for item in labels %}
            "{{ item }}",
        {% endfor %}
        ],

        datasets : [{
        label: "# requests",
        fillColor: "rgba(151,187,205,0.2)",
        strokeColor: "rgba(151,187,205,1)",
        pointColor: "rgba(151,187,205,1)",
        pointStrokeColor: "#fff",
        pointHighlightFill: "#fff",
        pointHighlightStroke: "rgba(151,187,205,1)",
        bezierCurve : false,
        data : [
            {% for item in req_values %}
            {{ item }},
            {% endfor %}
        ]
        }]
    }

    Chart.defaults.global.animationSteps = 50;
    Chart.defaults.global.tooltipYPadding = 16;
    Chart.defaults.global.tooltipCornerRadius = 0;
    Chart.defaults.global.tooltipTitleFontStyle = "normal";
    Chart.defaults.global.tooltipFillColor = "rgba(0,0,0,0.8)";
    Chart.defaults.global.animationEasing = "easeOutBounce";
    Chart.defaults.global.responsive = false;
    Chart.defaults.global.scaleLineColor = "black";
    Chart.defaults.global.scaleFontSize = 16;
    
    // get bar chart canvas
    var mychart = document.getElementById("req").getContext("2d");

    steps = 10
    max = {{ req_max }}
    // draw bar chart
    var LineChartDemo = new Chart(mychart).Line(barData, {
        scaleOverride: true,
        scaleSteps: steps,
        scaleStepWidth: Math.ceil(max / steps),
        scaleStartValue: 0,
        scaleShowVerticalLines: true,
        scaleShowGridLines : true,
        barShowStroke : true,
        scaleShowLabels: true,
        bezierCurve: false,
    });


    var barData = {
        labels : [
        {% for item in labels %}
            "{{ item }}",
        {% endfor %}
        ],

        datasets : [{
        label: "# replicas",
        fillColor: "rgba(151,187,205,0.2)",
        strokeColor: "rgba(151,187,205,1)",
        pointColor: "rgba(151,187,205,1)",
        pointStrokeColor: "#fff",
        pointHighlightFill: "#fff",
        pointHighlightStroke: "rgba(151,187,205,1)",
        bezierCurve : false,
        data : [
            {% for item in replica_values %}
            {{ item }},
            {% endfor %}
        ]
        }]
    }

    // get bar chart canvas
    var mychart = document.getElementById("replica").getContext("2d");

    steps = 10
    max = {{ replica_max }}
    // draw bar chart
    var LineChartDemo = new Chart(mychart).Line(barData, {
        scaleOverride: true,
        scaleSteps: steps,
        scaleStepWidth: Math.ceil(max / steps),
        scaleStartValue: 0,
        scaleShowVerticalLines: true,
        scaleShowGridLines : true,
        barShowStroke : true,
        scaleShowLabels: true,
        bezierCurve: false,
    });


    var barData = {
        labels : [
        {% for item in labels %}
            "{{ item }}",
        {% endfor %}
        ],

        datasets : [{
        label: "avg. response time (s)",
        fillColor: "rgba(151,187,205,0.2)",
        strokeColor: "rgba(151,187,205,1)",
        pointColor: "rgba(151,187,205,1)",
        pointStrokeColor: "#fff",
        pointHighlightFill: "#fff",
        pointHighlightStroke: "rgba(151,187,205,1)",
        bezierCurve : false,
        data : [
            {% for item in avg_values %}
            {{ item }},
            {% endfor %}
        ]
        }]
    }

    // get bar chart canvas
    var mychart = document.getElementById("avg").getContext("2d");

    steps = 10
    max = {{ avg_max }}
    // draw bar chart
    var LineChartDemo = new Chart(mychart).Line(barData, {
        scaleOverride: true,
        scaleSteps: steps,
        scaleStepWidth: Math.ceil(max / steps),
        scaleStartValue: 0,
        scaleShowVerticalLines: true,
        scaleShowGridLines : true,
        barShowStroke : true,
        scaleShowLabels: true,
        bezierCurve: false,
    });
    </script>
</center>
</body>